---
- name: Add cert-manager Helm Repo
  delegate_to: localhost
  kubernetes.core.helm_repository:
    name: jetstack
    repo_url: "https://charts.jetstack.io"

- name: Create cert-manager Namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: cert-manager

- name: Deploy cert-manager via Helm
  delegate_to: localhost
  kubernetes.core.helm:
    name: cert-manager
    chart_ref: jetstack/cert-manager
    chart_version: "{{ cert_manager_version }}"
    release_namespace: cert-manager
    values:
      crds:
        enabled: true

- name: Wait for cert-manager Webhook to be ready
  kubernetes.core.k8s_info:
    kind: Deployment
    name: cert-manager-webhook
    namespace: cert-manager
    wait: true
    wait_condition:
      type: Available
      status: "True"
    wait_timeout: 300

- name: Create Cloudflare API Token Secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: cloudflare-api-token-secret
        namespace: cert-manager
      type: Opaque
      stringData:
        api-token: "{{ cloudflare_api_token }}"

- name: Create Self-Signed ClusterIssuer
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      metadata:
        name: selfsigned-issuer
      spec:
        selfSigned: {}

- name: Create Let's Encrypt Prod ClusterIssuer
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      metadata:
        name: letsencrypt-cloudflare
      spec:
        acme:
          email: "danyal.dani.ahmed@gmail.com"
          server: https://acme-v02.api.letsencrypt.org/directory
          privateKeySecretRef:
            name: letsencrypt-cloudflare-account-key
          solvers:
            - dns01:
                cloudflare:
                  apiTokenSecretRef:
                    name: cloudflare-api-token-secret
                    key: api-token

- name: Create Wildcard Certificate for Lab
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: technologylab.uk
        namespace: istio-system
      spec:
        secretName: technologylab.uk-wildcard-tls
        issuerRef:
          name: letsencrypt-cloudflare
          kind: ClusterIssuer
        commonName: "*.technologylab.uk"
        dnsNames:
          - "technologylab.uk"
          - "*.technologylab.uk"
