namespace:
  name: seomt

replicaCount: 1
image:
  repository: localregistry.technologylab.uk/seomt
  pullPolicy: Always
  tag: "v1.0.11"

serviceAccount:
  create: true
  automount: true

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  
livenessProbe:
  httpGet:
    path: /healthz
    port: http
readinessProbe:
  httpGet:
    path: /healthz
    port: http

volumeMounts:
- name: seomt
  mountPath: /app/wwwroot/uploads
  subPath: uploads
- name: seomt
  mountPath: /app/wwwroot/reports
  subPath: reports

persistence:
  - name: seomt
    storageClass: nfs-client
    accessModes:
      - ReadWriteMany
    size: 1Gi
    mountPath: /data # Not used directly, but subPaths are used above

env:
  - name: ASPNETCORE_ENVIRONMENT
    value: Production
  - name: ConnectionStrings__DefaultConnection
    valueFrom:
      secretKeyRef:
        name: seomt-secrets
        key: DefaultConnection

externalSecrets:
  enabled: true
  secretStoreName: vault-secret-store
  secrets:
    - secretKey: DefaultConnection
      remoteRef:
        key: seomt
        property: "DefaultConnection"