---
- name: Create argocd namespace
  kubernetes.core.k8s:
    name: argocd
    kind: Namespace
    state: present

- name: Install ArgoCD Manifests
  kubernetes.core.k8s:
    namespace: argocd
    src: "https://raw.githubusercontent.com/argoproj/argo-cd/{{ argocd_version }}/manifests/install.yaml"
    state: present

- name: Wait for ArgoCD Server to be ready
  kubernetes.core.k8s_info:
    kind: Deployment
    name: argocd-server
    namespace: argocd
  register: argocd_status
  until: argocd_status.resources[0].status.readyReplicas | default(0) > 0
  retries: 20
  delay: 10

- name: Register Private SSH Key for Git Repos
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: private-git-creds
        namespace: argocd
        labels:
          argocd.argoproj.io/secret-type: repository
      stringData:
        type: git
        url: "{{ git_repo_url }}"
        sshPrivateKey: "{{ lookup('file', ansible_ssh_private_key_file) }}"

- name: Deploy ArgoCD Projects
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: projects-app
        namespace: argocd
      spec:
        project: default
        source:
          repoURL: "{{ git_repo_url }}"
          targetRevision: HEAD
          path: argocd/projects
        destination:
          server: https://kubernetes.default.svc
          namespace: argocd
        syncPolicy:
          automated:
            prune: true
            selfHeal: true

- name: Deploy App of Apps Application
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: root-app
        namespace: argocd
      spec:
        project: default
        source:
          repoURL: "{{ git_repo_url }}"
          targetRevision: HEAD
          path: argocd/apps
        destination:
          server: https://kubernetes.default.svc
          namespace: argocd
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
