---
- name: Install Python Dependencies
  hosts: controlplane
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Python and required packages
      apt:
        name:
          - python3
          - python3-pip
          - python3-venv
          - python3-kubernetes
          - python3-yaml
        state: present
    
