---
- name: Install Python Dependencies
  hosts: controlplane
  become: true
  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Install Python and required packages
      ansible.builtin.apt:
        name:
          - python3
          - python3-pip
          - python3-venv
          - python3-kubernetes
          - python3-yaml
          - ethtool
        state: present
