---
- name: Initialize Kubernetes Control Plane
  hosts: controlplane
  become: yes
  become_method: sudo
  tasks:
    - name: Check if Kubernetes is already installed
      stat:
        path: /etc/kubernetes/admin.conf
      register: kube_init_check
      
    - name: Initialize kubeadm
      command: >
        kubeadm init
        --apiserver-advertise-address={{ ansible_facts['default_ipv4']['address'] }}
        --pod-network-cidr={{ pod_network_cidr }}
        --node-name={{ inventory_hostname }}
      when: not kube_init_check.stat.exists

    - name: Create .kube directory
      file:
        path: /home/{{ ansible_user }}/.kube
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0755'

    - name: Copy admin.conf to user's kube config
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/{{ ansible_user }}/.kube/config
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        remote_src: yes

    - name: Install Calico with Tigera Operator
      become: no
      shell: |
        kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/{{ calico_version }}/manifests/custom-resources.yaml
        kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/{{ calico_version }}/manifests/tigera-operator.yaml
